services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\Tenant\TenantContext: ~
    App\Tenant\TenantResolver: ~
    App\Tenant\TenantProvider: ~
    App\Tenant\TenantEntityManagerProvider: ~

    App\Tenant\TenantRequestListener:
        tags:
            - {
                  name: kernel.event_listener,
                  event: kernel.request,
                  method: onKernelRequest,
              }
