parameters:

services:
    # Enregistre ton TenantConfigProvider
    App\Tenant\TenantConfigProvider: ~

    # default configuration for services in *this* file
    _defaults:
        autowire: true
        autoconfigure: true

    # makes classes in src/ available to be used as services
    App\:
        resource: "../src/"
