services:
    _defaults:
        autowire: true
        autoconfigure: true

    # Factory qui crée la vraie connexion tenant
    App\Tenant\TenantConnectionFactory: ~

    # Wrapper utilisé par DoctrineBundle 3.x
    App\Tenant\TenantConnectionWrapper:
        arguments:
            - '%env(resolve:DATABASE_URL_TENANT_BASE)%'
            - '@App\Tenant\TenantConnectionFactory'
