doctrine:
    dbal:
        url: "%env(resolve:DATABASE_URL)%"

    orm:
        auto_generate_proxy_classes: true
        default_entity_manager: default

        entity_managers:
            default:
                connection: default
                mappings:
                    Main:
                        is_bundle: false
                        type: attribute
                        dir: "%kernel.project_dir%/src/Entity/Main"
                        prefix: 'App\Entity\Main'
